{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Account Activated" %}{% endblock head_title %}

{% block card_title %} {% trans "Your account is now activated." %} {% endblock card_title %}

{% block card_outer_class %}col-4{% endblock card_outer_class %}

{% block card_content %}
  <p>
      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">{% trans "You can now log in to your account." %}</a>
      {% else %}
      Visit <a href="{% url 'home' %}">our homepage</a>
      {% endif %}
  </p>
{% endblock card_content %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
