{% extends "registration/registration_base.html" %}

{% block head_title %}Expired Key{% endblock head_title %}

{% block card_title %}Expired key{% endblock card_title %}

{% block card_outer_class %}col-4{% endblock card_outer_class %}

{% block card_content %}
  {% if profile.activated%}
  <p>
      This key has already been used and your account is active. You can now <a href="{% url 'auth_login' %}">log in.</a>
  </p>
  {% else %}
  <p>
      Please <a href="{% url 'register' %}">try again.{{profile}}</a>
  </p>
  {% endif %}
{% endblock card_content %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
