{% extends 'registration/registration_base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Log In{% endblock head_title %}

{% block card_title %}Please log in to your account:{% endblock card_title%}

{% block card_outer_class %}col-4{% endblock card_outer_class %}

{% block card_content %}
  <form class="text-below" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
  </form>
  <p><a href="{% url 'auth_password_reset' %}">Forgoten your pasword?</a></p>
  <p>A new user? Please <a href="{% url 'register' %}"> sign up.</a></p>
{% endblock card_content %}
