{% extends "registration/registration_base.html" %}

{% block head_title %}Password Reset Email Sent{% endblock head_title %}

{% block card_title %}We’ve emailed you instructions for resetting your password{% endblock card_title %}

{% block card_outer_class %}col-7{% endblock card_outer_class %}

{% block card_content %}
  <p>
    If you don't receive an email shortly, please make sure you’ve entered the correct address, and check your spam folder.
    <br>
    You can ask for a new link <a href="{% url 'auth_password_reset' %}">here.</a>
  </p>
{% endblock card_content %}
