{% extends "registration/registration_base.html" %}

{% block head_title %}Password Reset Done{% endblock head_title %}

{% block card_title %}Your password has been successfully reset.{% endblock card_title %}

{% block card_outer_class %}col-5{% endblock card_outer_class %}


{% block card_content %}
  <p>
      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">You can now log in to your account.</a>
      {% else %}
      Visit <a href="{% url 'home' %}">our homepage</a>
      {% endif %}
  </p>
{% endblock card_content %}
