{% extends 'registration/registration_base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Reset Password Request{% endblock head_title %}

{% block card_title %}Forgotten your password?{% endblock card_title%}

{% block card_outer_class %}col-4{% endblock card_outer_class %}

{% block card_content %}
  <p>Enter your email address below, and we’ll email instructions for setting a new one.</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Reset my password</button>
    </div>
  </form>
{% endblock card_content %}
