body {
  max-width: 1200px;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

form.text-below {
  margin-bottom: 1em;
}

.my-btn-light {
  background-color: #dddddd;
}

.navbar-brand {
  padding: 0;
  margin: 0 20px 0 0;
  font-weight: 300;
  font-size: 1.5rem;
}
