{% extends '_base.html' %}

{% load static %}

{% block nav %}
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand h1 ps-3 my-0" href="{% url 'home' %}"> {{ settings.SITE_NAME }}</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" type="button" data-bs-target="#navigation-toggle"
        aria-controls="navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation-toggle">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link text-nowrap" href="{% url 'home' %}">Home</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link text-nowrap" href="#">Browse</a></li>
            {% if user.is_staff %}
              <li class="nav-item"><a class="nav-link text-nowrap" href="{% url 'admin:books_page_changelist' %}">Upload</a></li>
            {% endif %}
          {% endif %}
        </ul>
        <ul class="navbar-nav me-3">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown" href="#"
                role="button" aria-expanded="false" aria-haspopup="true">
                {{ user.username|capfirst }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-nowrap">
                <li><a class="dropdown-item" href="{% url 'user_profile' user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'auth_password_change' %}">Change Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form method="POST" action="{% url 'auth_logout' %}">
                  {% csrf_token %}
                  <button class="dropdown-item" type="submit">Log Out</button>
                </form>
                </li>
              </ul>
            </li>
            {% if user.is_staff %}
              <li class="nav-item"><a class="nav-link text-nowrap" href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
          {% else %}
            {% if 'accounts' not in request.path  and 'admin' not in request.path %}
                <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a></li>
            {% endif %}
          {% endif %}
        </ul>

      </div>
    </nav>
{% endblock nav %}

{% block content %}
  <main class="container">
    {% block title_base %}
      <h1 class="pt4">{% block page_title%}{% endblock page_title %}</h1>
    {% endblock title_base %}
    {% block page_content %}
    {% endblock %}
  </main>
{% endblock content %}
